<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ins</display-name>
  <welcome-file-list>
    <welcome-file>/jsp/index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.kc.inspiration.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.kc.inspiration.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.kc.inspiration.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PublishServlet</display-name>
    <servlet-name>PublishServlet</servlet-name>
    <servlet-class>com.kc.inspiration.servlet.PublishServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublishServlet</servlet-name>
    <url-pattern>/PublishServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CollectServlet</display-name>
    <servlet-name>CollectServlet</servlet-name>
    <servlet-class>com.kc.inspiration.servlet.CollectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CollectServlet</servlet-name>
    <url-pattern>/CollectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PraiseServlet</display-name>
    <servlet-name>PraiseServlet</servlet-name>
    <servlet-class>com.kc.inspiration.servlet.PraiseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PraiseServlet</servlet-name>
    <url-pattern>/PraiseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PreAuctionApplication</display-name>
    <servlet-name>PreAuctionApplication</servlet-name>
    <servlet-class>com.kc.inspiration.servlet.PreAuctionApplication</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PreAuctionApplication</servlet-name>
    <url-pattern>/PreAuctionApplication</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuctionApplicationServlet</display-name>
    <servlet-name>AuctionApplicationServlet</servlet-name>
    <servlet-class>com.kc.inspiration.servlet.AuctionApplicationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuctionApplicationServlet</servlet-name>
    <url-pattern>/AuctionApplicationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindFansServlet</display-name>
    <servlet-name>FindFansServlet</servlet-name>
    <servlet-class>com.kc.inspiration.servlet.FindFansServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindFansServlet</servlet-name>
    <url-pattern>/FindFansServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateInfoServlet</display-name>
    <servlet-name>UpdateInfoServlet</servlet-name>
    <servlet-class>com.kc.inspiration.servlet.UpdateInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateInfoServlet</servlet-name>
    <url-pattern>/UpdateInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BidServlet</display-name>
    <servlet-name>BidServlet</servlet-name>
    <servlet-class>com.kc.inspiration.servlet.BidServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BidServlet</servlet-name>
    <url-pattern>/BidServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommentServlet</display-name>
    <servlet-name>CommentServlet</servlet-name>
    <servlet-class>com.kc.inspiration.servlet.CommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommentServlet</servlet-name>
    <url-pattern>/CommentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuctionRecoderServlet</display-name>
    <servlet-name>AuctionRecoderServlet</servlet-name>
    <servlet-class>com.kc.inspiration.servlet.AuctionRecoderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuctionRecoderServlet</servlet-name>
    <url-pattern>/AuctionRecoderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuctionServlet</display-name>
    <servlet-name>AuctionServlet</servlet-name>
    <servlet-class>com.kc.inspiration.servlet.AuctionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuctionServlet</servlet-name>
    <url-pattern>/AuctionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindAuctionServlet</display-name>
    <servlet-name>FindAuctionServlet</servlet-name>
    <servlet-class>com.kc.inspiration.servlet.FindAuctionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindAuctionServlet</servlet-name>
    <url-pattern>/FindAuctionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddFollowServlet</display-name>
    <servlet-name>AddFollowServlet</servlet-name>
    <servlet-class>com.kc.inspiration.servlet.AddFollowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFollowServlet</servlet-name>
    <url-pattern>/AddFollowServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchUserServlet</display-name>
    <servlet-name>SearchUserServlet</servlet-name>
    <servlet-class>com.kc.inspiration.servlet.SearchUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchUserServlet</servlet-name>
    <url-pattern>/SearchUserServlet</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>com.kc.inspiration.listener.AuctionListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>SearchAllServlet</display-name>
    <servlet-name>SearchAllServlet</servlet-name>
    <servlet-class>com.kc.inspiration.servlet.SearchAllServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchAllServlet</servlet-name>
    <url-pattern>/SearchAllServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>dwr-invoker</servlet-name>
    <servlet-class>org.directwebremoting.servlet.DwrServlet</servlet-class>
    <init-param>
      <param-name>debug</param-name>
      <param-value>true</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>dwr-invoker</servlet-name>
    <url-pattern>/dwr/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChatServlet</display-name>
    <servlet-name>ChatServlet</servlet-name>
    <servlet-class>com.kc.inspiration.servlet.ChatServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChatServlet</servlet-name>
    <url-pattern>/ChatServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchChatServlet</display-name>
    <servlet-name>SearchChatServlet</servlet-name>
    <servlet-class>com.kc.inspiration.servlet.SearchChatServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchChatServlet</servlet-name>
    <url-pattern>/SearchChatServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteFollowServlet</display-name>
    <servlet-name>DeleteFollowServlet</servlet-name>
    <servlet-class>com.kc.inspiration.servlet.DeleteFollowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteFollowServlet</servlet-name>
    <url-pattern>/DeleteFollowServlet</url-pattern>
  </servlet-mapping>
</web-app>